{{#if banners.bottom}} {{#if settings.data_tag_enabled}}
<div class="banners" data-banner-location="bottom">
  {{#each (limit banners.bottom_metadata 1)}}
  <div
    class="banner"
    data-event-type="promotion"
    data-entity-id="{{this.id}}"
    data-name="{{this.banner-name}}"
    data-position="{{this.location}}"
    data-name="{{this.banner-name}}"
  >
    <div data-event-type="promotion-click">{{{this.content}}}</div>
  </div>
  {{/each}}
</div>
{{else}}
<div class="banners" data-banner-location="bottom">
  <div class="banner">{{{limit banners.bottom 1}}}</div>
</div>
{{/if}} {{/if}}

<footer class="footer" role="contentinfo">
  <h2 class="footer-title-sr-only">{{lang 'footer.title'}}</h2>
  <div class="footer-container">
    <section class="footer-info">
      <article
        class="footer-info-col footer-info-col--small"
        data-section-type="footer-webPages"
      >
        <h3 class="footer-info-heading">
          <span class="footer-heading-large"><!--{{lang 'footer.navigate'}}-->{{settings.store_name}}</span>
          <span class="footer-heading-small">{{settings.store_name}}
            <span class="footer-collapse" onClick="footerDropdown(this); toggleOne();" >+</span></span>
        </h3>
        <ul class="footer-info-list footer-col-one">
          {{#each pages}}
          <li>
            <a href="{{url}}">{{name}}</a>
          </li>
          {{/each}}
          <li>
            <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
          </li>
        </ul>
      </article>
      <article
        class="footer-info-col footer-info-col--small"
        data-section-type="footer-categories"
      >
        <h3 class="footer-info-heading">
          <span class="footer-heading-large">{{lang 'footer.categories'}}</span>
          <span class="footer-heading-small">{{lang 'footer.categories'}}
            <span class="footer-collapse" onClick="footerDropdown(this); toggleTwo();">+</span></span>
        </h3>
        <ul class="footer-info-list footer-col-two">
          {{#each categories}}
          <li>
            <a href="{{url}}">{{name}}</a>
          </li>
          {{/each}}
        </ul>
      </article>
      {{#and theme_settings.shop_by_brand_show_footer shop_by_brand.length}}
      <article
        class="footer-info-col footer-info-col--small"
        data-section-type="footer-brands"
      >

        <!--<h3 class="footer-info-heading ">
          Informazioni legali
        </h3>
        <h3 class="footer-info-heading footer-heading-small footer-info-heading-3">
          Informazioni legali
          <span class="collapse-button-3" onclick="showThree()">+</span>
        </h3>-->

        <h3 class="footer-info-heading">
          <span class="footer-heading-large"> Informazioni legali<!--{{lang 'footer.brands'}}--></span>
          <span class="footer-heading-small">Informazioni legali<!--{{lang 'footer.brands'}}-->
            <span class="footer-collapse" onClick="footerDropdown(this); toggleThree();">+</span></span>
         </h3>


 
        <ul class="footer-info-list footer-col-three">
          {{#each shop_by_brand}}
          <li>
            <a href="{{url}}">{{name}}</a>
          </li>
          {{/each}}
          <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
        </ul>
      </article>
      {{/and}}

      <article
        class="footer-info-col footer-info-col--small footer-info-col--end"
        data-section-type="storeInfo"
      >
        {{#if settings.address}}
        <h3 class="footer-info-heading">
         <span class="footer-heading-large"> {{lang 'footer.info'}}</span>
         <span class="footer-heading-small">{{lang 'footer.info'}} 
         <span class="footer-collapse" onClick="footerDropdown(this); toggleFour();">+</span></span>
        </h3>
       
        <div class="footer-info-list footer-col-four">
          <address>{{nl2br settings.address}}</address>
          {{#if settings.phone_number}}
          <address>
            {{lang 'footer.tel' phone_number=settings.phone_number}}
          </address>
          {{/if}}
          <address>Fax goes here</address>
          <strong><address>Email goes here</address></strong
          >
        </div>
        {{/if}}

        <div>{{> components/common/payment-icons}}</div>
      </article>

      {{#if settings.show_newsletter_box}}
      <article
        class="footer-info-col"
        data-section-type="newsletterSubscription"
      >
        {{> components/common/subscription-form}}
      </article>
      {{/if}}
    </section>

    {{#if settings.paypal_commerce_credit_message}}
    <div class="footer-copyright">
      <p class="paypal-credit">
        {{nl2br settings.paypal_commerce_credit_message}}
      </p>
    </div>

    {{/if}} {{#if theme_settings.show_powered_by}}
    <div class="footer-copyright">
      <p class="powered-by">
        {{lang 'footer.powered_by'}}
        <a
          href="https://www.bigcommerce.com?utm_source=merchant&amp;utm_medium=poweredbyBC"
          rel="nofollow"
          >BigCommerce</a
        >
      </p>
    </div>
    {{/if}}
    <!--{{#if theme_settings.show_copyright_footer}}
            <div class="footer-copyright">
                <p class="powered-by">&copy; {{moment format="YYYY"}} {{settings.store_name}} </p>
            </div>
        {{/if}} -->
  </div>
  <hr />
  <div class="footer-container">
    <div class="footer-lower">
      {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
      <article
        class="footer-info-col--social
                  footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
        data-section-type="footer-webPages"
      >
        <!--<h3 class="footer-info-heading">{{lang 'social.connect'}}</h3> -->
        {{> components/common/social-links}}
      </article>
      {{/if}} {{#if theme_settings.show_copyright_footer}}
      <p class="footer-copyright">
        &copy; 2011-{{moment format="YYYY"}} {{settings.store_name}} - All Right
        Reserved - P.IVA 01317910121 - Codice REA VA172423 - Capitale Sociale
        I.V. 4.500.000€
      </p>
      {{/if}}
    </div>
  </div>

  {{{region name="ssl_site_seal--global"}}}
</footer>

<script>

//var footerCollapse = document.getElementsByClassName('footer-collapse');

/*
for (var i = 0; i < footerCollapse.length; i++) {
  footerCollapse[i].onclick = showThree;
}
*/

function footerDropdown(a){
 console.log( a.innerHTML )
a.classList.toggle("red");
//a.parentNode.classList.toggle("underline-red");
 if (a.textContent === "+") {
  a.textContent = "-";
} else {
  a.textContent = "+";
}
  //a.parentNode.getElementsByClassName('footer-info-list')[0].classList.toggle("footer-show");

/* const footerCol = document.getElementsByClassName("footer-collapse-3");
const footerButtonThree =
  document.getElementsByClassName("collapse-button-3");
const headingThree = document.getElementsByClassName(
  "footer-info-heading-3"
);

footerCol[0].classList.toggle("footer-show");
footerButtonThree[0].classList.toggle("red");
headingThree[0].classList.toggle("red");
headingThree[0].classList.toggle("underline-red");


if (footerButtonThree[0].innerHTML === "+") {
  footerButtonThree[0].innerHTML = "-";
} else {
  footerButtonThree[0].innerHTML = "+";
}
*/
}

  function toggleOne(){
    const footerOne = document.querySelector(".footer-col-one");
    footerOne.classList.toggle("footer-show");
    /*const footerButtonThree =
      document.getElementsByClassName("collapse-button-3");
    const headingThree = document.getElementsByClassName(
      "footer-info-heading-3"
    );
    footerThree[0].classList.toggle("footer-show");
    footerButtonThree[0].classList.toggle("red");
    headingThree[0].classList.toggle("red");
    headingThree[0].classList.toggle("underline-red");
   */
  }

  function toggleTwo(){
    const footerTwo = document.querySelector(".footer-col-two");
    footerTwo.classList.toggle("footer-show");
  }

  function toggleThree(){
    const footerThree = document.querySelector(".footer-col-three");
    footerThree.classList.toggle("footer-show");
  }

  function toggleFour(){
    const footerFour = document.querySelector(".footer-col-four");
    footerFour.classList.toggle("footer-show");
  }

</script>
