<div class="promos-container">
  <div class="promo-card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/1022px-Placeholder_view_vector.svg.png?20220519031949" />
    <div class="promo-info">
      <h2>Qualità Vimarad un prezzo speciale!</h2>
      <p>
        Con l’acquisto del Kit Contenitori e Scatole, riceverà un EXTRA sconto.
        Opportunità valida dal 1 Aprile al 31 Maggio 2022.
      </p>
      <button>Download the promo</button>
    </div>
  </div>
  <div class="promo-card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/1022px-Placeholder_view_vector.svg.png?20220519031949" />
    <div class="promo-info">
      <h2> Qualità Vimarad un prezzo speciale Qualità Vimarad un prezzo speciale!</h2>
      <p>
        Con l’acquisto del Kit Contenitori e Scatole, riceverà un EXTRA sconto.
        Opportunità valida dal 1 Aprile al 31 Maggio 2022.
      </p>
      <button>Download the promo</button>
    </div>
  </div>
  <div class="promo-card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/1022px-Placeholder_view_vector.svg.png?20220519031949" />
    <div class="promo-info">
      <h2>Qualità Vimarad un prezzo speciale!</h2>
      <p>
        Con l’acquisto del Kit Contenitori e Scatole, riceverà un EXTRA sconto.
        Opportunità valida dal 1 Aprile al 31 Maggio 2022.   Con l’acquisto del Kit Contenitori e Scatole, riceverà un EXTRA sconto.
        Opportunità valida dal 1 Aprile al 31 Maggio 2022.
      </p>
      <button>Download the promo</button>
    </div>
  </div>
  <div class="promo-card">
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/1022px-Placeholder_view_vector.svg.png?20220519031949" />
    <div class="promo-info">
      <h2>Qualità Vimarad un prezzo speciale!</h2>
      <p>
        Con l’acquisto del Kit Contenitori e Scatole, riceverà un EXTRA sconto.
        Opportunità valida dal 1 Aprile al 31 Maggio 2022.
      </p>
      <button>Download the promo</button>
    </div>
  </div>
</div>
