<div class="shop-by-catagory" >
    <h2>Shop by category</h2>
    <div class="catagory-container">


        <!--<ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}"> -->
            {{#each categories}}
            <div class="catagory">
                <img class="catagory-image" src="{{image.data}}" alt="{{image.alt}}">
                <h4><a href="{{url}}">{{name}} 
              <!--  {{#if ../theme_settings.navigation_design '===' 'simple'}}
                    {{> components/common/navigation-list}}
                {{/if}} -->
                {{log image}}
            </a></h4></div>
               
            {{/each}}
           
      <!--  </ul> -->

       <!-- <div class="catagory"><h4><a href="">ONE</a></h4></div>
        <div class="catagory"><h4>ONE</h4></div>
        <div class="catagory"><h4>ONE</h4></div>
        <div class="catagory"><h4>ONE</h4></div>
        <div class="catagory"><h4>ONE</h4></div>
        <div class="catagory"><h4>ONE</h4></div>
        <div class="catagory"><h4>ONE</h4></div>
        <div class="catagory"><h4>ONE</h4></div>
       -->
    </div>


</div>