// Project colors -----------------------------------------------------------------------------------------------

// Primary variants

$PRIMARY: #FF6600;
//$SECONDARY: #fff4e3;
//$ACCENT: #a2ec8e;

$Primary-Light: #FFD9C0;

// Secondary variants
//$TECH-80: #7b7b7b;
//$TECH-60: #dbdada;

$TECH-100: #333333;
$TECH-40: #F9F9F9;
//$TECH-WHITE: #ffffff;

// Font variants
//$White: #FFFFFF;

// Project buttons -----------------------------------------------------------------------------------------------

// General button settings
//========================


// Primary button


//Text

$UglyQua-text: "UglyQua";

.UglyQua-text{
    font-family: $UglyQua-text;
}
