<div class="subcategory-grid">
  <!--<ul class="navList "> -->
  <ul>
    {{#each category.subcategories}}
    <li class="subcategory">
      <a class="navList-action" href="{{url}}" title="{{name}}">
        <!--<img class="" src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/3f/Placeholder_view_vector.svg/1022px-Placeholder_view_vector.svg.png?20220519031949" alt="">-->
        <img class="" src="{{getImageSrcset image 1x=(default fallback_size '160w')}}" alt="" />


        <div><p class="subcategory-title">{{name}}</p></div>
      </a>
    </li>
    {{/each}}
  </ul>
</div>
