.footer {
  background-color: #333333;
  padding: 50px 0 25px;

  hr {
    border-top: 1px solid white;
    width: 100%;
    margin: 30px auto;
    @include breakpoint("medium") {
      width: 90%;
    }
  }

  .footer-container {
    padding: 0;
    margin: auto;
    width: 90%;
    // border: 1px solid red;

    .footer-info-col {
      // border: 1px solid green;
      margin-bottom: spacing("single");
      ul {
        li {
          color: white;
          line-height: 30px;
          font-weight: 400;
        }
      }
    }
  }
  h3 {
    font-weight: 700;
  }
}

.footer-info-col--end {
  // border: 1px solid yellow;
  float: none;
  width: 100%;

  address,
  p {
    color: white;
    font-style: normal;
    line-height: 30px;
  }
  .footer-payment-icons {
    @include breakpoint("medium") {
      margin-top: 15px;
    }
  }

  @include breakpoint("medium") {
    float: right;
    margin: 0;
    width: fit-content;
  }
}

.footer-info-heading {
  color: white;
}

.footer-info-list {
  a {
    color: white;
  }
}

.footer-info-heading {
  border: 1px solid blue;
  text-align: left;
  span{
    float: right;
    display: block;
    @include breakpoint("medium") {
      display: none;
     }
  }
}

.footer-large{
  display: none;
  @include breakpoint("medium") {
   display: block;
  }
}

.footer-collapse{
  border: 1px solid orange;
  height: 0px;
  overflow: hidden;
}

.footer-lower {
  display: block;
  // flex-direction: row;
  padding: 0;
  // border: 1px solid salmon;

  article {
    .socialLinks {
      display: flex;
    }
  }

  @include breakpoint("medium") {
    display: flex;
  }
}

.footer-copyright {
  margin: 0 auto 20px;
  color: white;
  text-align: center;
  width: 70%;
  //border: 1px solid red;
  // width: fit-content;
  //display: inline;
  // padding: 0;

  // margin: auto;
  //width: 100%;

  @include breakpoint("medium") {
    text-align: right;
    width: 80%;
    margin: 0 0 0 auto;
    //margin-left: auto;
    //  float: right;
    // display: inline;
    // justify-content: flex-end;
  }
}

.footer-info-col--social {
  margin: 0 auto 20px;
  padding: 0;
  display: block;
  width: fit-content;
  //  border: 1px solid purple;
  //justify-content: flex-start;
  //width: fit-content;
  // margin: auto;
  //text-align: center;

  @include breakpoint("medium") {
    margin: 0;
    // display: inline;
    //text-align: left;
    //  border: 1px solid yellow;
  }
}

#consent-manager-update-banner {
  display: none !important;
}
