.info-bar {
  //border: 1px solid red;
  background-color: $TECH-40;
  height: 60px;
  margin: 0;
  //padding: 20px 0;
  font-size: 16px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  //position: relative;
  //position: absolute;
  color: black;
  width: 100%;
  // width:100vw;
  /* Column | row */
  a {
   // border: 1px solid red;
    position:relative;
    width: fit-content;
    z-index:10;
    margin: auto;
    &:hover {
      //color: red;
    }
    &:focus {
      outline: 0 !important;
    }
  }
}

/*
ul{
 // border: 1px solid yellow;
  width: 96%;
  margin: auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  
}
  li{
    display: inline;
  //  line-height: 20px;
    font-size: 16px;

    a{
      color: white;
      line-height: 44px;
      text-decoration: none;
      text-align: center;
      font-family: 'DM Sans', sans-serif;
    }
  }





@media (min-width: 992px) {
  .info-bar{
  display: block;
  }
}

.info-bar{
   // background-color: $SECONDARY;
    margin-top:  9px;
    @include breakpoint("medium") {
      margin-top:  0px;
    }
  }
  
  .info-bar-container{
    border: 1px solid red;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 60%;
  }
  
  .info-contents{
    flex: 1; //1 80px;
    border: 1px solid blue;
  }
  
  .info-contents:nth-child(2) {
    display: none;
    @include breakpoint("medium") {
      display: block;
    }
  
  }

  */
