
#main-content{
    //border: 1px solid blue;
    //padding-left: 0;
   // padding-right: 0;
}

.body{
//border: 1px solid red;
//padding-left: 0;
  //  padding-right: 0;
}

.container{
   // border: 1px solid green;
    padding: 0;
  //  width: 100%;
   // margin: 0;
}

.page{
//border: 1px solid red;
width:92%;
margin: auto;
}

.featured-product-carousel{
 //   border: 1px solid red;
}