.promos-container {
  //border: 1px solid blue;
 
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  margin: auto;
  width: 92%;
  @include breakpoint("large") {
    //border: 1px solid black;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  }
}

.promo-card {
//  border: 1px solid red;
background-color: $TECH-40;
  img {
    border: 1px solid green;
    max-width: 632px;
    max-height: 372px;
    @include breakpoint("large") {
//max-width: 632px;
    }
  }
  .promo-info {
   // border: 1px solid blue;
    padding: 15px 32px 32px;
    h2{
       // border: 1px solid orange;
        margin: 0;
    }
    p{
       // border: 1px solid red; 
        margin: 20px 0;
    }
    button {
      padding: 12px 16px;
      border-radius: 6px;
      color: white;
      background-color: $TECH-100;
      margin: 0;
    }
  }
}
